body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#board {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}

.gridDivs {
    border: 1px solid black;
}


